<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <form action="/dologin" method="POST">
    <input type="text" placeholder="输入登录名" name="name">
    <br><br>
    <input type="password" placeholder="输入密码" name="password">
    <br><br>
    <button type="submit">登 录</button>
    </form>
</body>
</html>